<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swe.prototype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_synchronator"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.swe.prototype.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swe.prototype.activities.CreateAccountActivity"
            android:label="Create Account">
        </activity>
        <activity
            android:name="com.swe.prototype.activities.BaseActivity"
            android:label="Base Activity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.ListContactsActivity"
            android:label="Contacts" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.ContactActivity"
            android:label="View Contact" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.CalendarActivity"
            android:label="Calendar" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.ListNotesActivity"
            android:label="Notes" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.ChangeNoteActivity"
            android:label="View Note" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.AccountsActivity"
            android:label="Accounts" >
        </activity>
        <activity
            android:name="com.swe.prototype.activities.RegisterActivity"
            android:label="Register" >
        </activity>
         <activity
            android:name="com.swe.prototype.activities.CreateContactActivity"
            android:label="Create Contact" >
        </activity>
        
         <provider android:name=".database.SQLiteDataProvider"
             android:exported="false"
             android:authorities="com.swe.prototype.database.SQLiteDataProvider"/>
         <service android:name=".services.SynchronatorService"></service>
         
    </application>

</manifest>